
.em{

}

.strong{

}

.ul{

}

.ol{

}

.li{

}

.tsugice {
  font-family: 'Indie Flower';
  font-size: 1rem;
  border: 10px solid #827717;
  padding: 5px;
  vertical-align: middle;

}

.yamice {
  font-family: 'Indie Flower';
  font-size: 1rem;
  border: 10px solid black;
  padding: 5px;
  vertical-align: middle;
  background-color: #3e2723;

}

.ice {
  font-family: 'Indie Flower';
  border: 10px solid white;
  padding: 5px;
  vertical-align: middle;
}


.pi {
  border: 5px solid teal;
  font-family: 'Quicksand';
  font-size: 1rem;
}

.pi i{
  text-align: center;
}

.zoo {
  border: 1px solid yellow;
  font-size: 1rem;
  font-family: 'VT323';
  color: #ffff00;
  background-color: #8d6e63;
}

.tsugzoo {}

.yamzoo {
  border: 1px solid teal;
  margin: 0px;
  font-size: 1rem;
  font-family: 'VT323';
  color: #ffff00;
  background-color: #3e2723;
}


.wiz {
  display: inline-block;
}

.zoo.alt {
  color: pink;
}

.jkr {
  border-radius: 5px;
  border: 1px solid cyan;
  padding: 5px;
}

.tsugu {
  color: lime;
}

.yami {
  color: black;
}


.yami.dark-primary-color    { background: #AFB42B; }
.yami.default-primary-color { background: #CDDC39; }
.yami.light-primary-color   { background: #F0F4C3; }
.yami.text-primary-color    { color: #212121; }
.yami.accent-color          { background: #009688; }
.yami.primary-text-color    { color: #212121; }
.yami.secondary-text-color  { color: #757575; }
.yami.divider-color         { border-color: #BDBDBD; }

.hikrai {
  color: white;
}

.alt {
  color: red;
}

.tsugace {
  border-radius: 25px;
  border: 1px solid orange;
  padding: 5px;
  color: orange;
}

.yamace {
  border-radius: 25px;
  border: 1px solid lime;
  padding: 5px;
  color: lime;
}

.ace {
  border-radius: 25px;
  border: 1px solid pink;
  padding: 5px;
  color: pink;
}

.kami {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  color: black;
}

.kami i{
  font-size: 1rem;

}

.box {
  color: brown;
  border: 1px solid brown;
}

.box i{
}


.thin-text {
  font-family: 'Pragati Narrow';
}

.thick-text {
  font-family: 'Asset';
}


.samuneiru {
  background-color: brown;
  width: 5px;
  height: 50px;
  padding: 3;
  border: 1px solid white;
}

.samuneiru i{
  font-size: 1rem;
}














.row{
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.ailog.button.btn {
  border: 2px solid cyan;
  border-radius: 3px;
  background-color: ;
  color: black;
  text-align: center;
  transition: all 3s;
  cursor: pointer;
  vertical-align: middle;

}

.button {
  border-radius: 3px;
  background-color: ;
  border: 1px solid pink;
  color: black;
  text-align: center;
  transition: all 3s;
  cursor: pointer;
  vertical-align: middle;

}

.card {
  display: inline-block;
  border: 3px solid pink;
  font-family: 'Roboto';
  font-style: 'italic';
  vertical-align: middle;
}

body {
  background-color: grey;

}

blockquote:before {
  color: brown;
  content: open-quote;
  font-size: 1em;
  line-height: .1 em;
}


/* .h1-h12 will translate into %h1-%h6 & p. create for statement/loop
*/
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Dokdo);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

@import url(https://fonts.googleapis.com/css?family=Cute+Font);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Poor+Story);

@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);
@import url(https://fonts.googleapis.com/css?family=Quantico);
@import url(https://fonts.googleapis.com/css?family=Glass+Antiqua);

/* google font API

if we can download it we can use it
*/

@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);


@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Alex+Brush);
@import url(https://fonts.googleapis.com/css?family=Asset);
@import url(https://fonts.googleapis.com/css?family=Bellefair);
@import url(https://fonts.googleapis.com/css?family=Bilbo);
@import url(https://fonts.googleapis.com/css?family=Calligraffitti);
@import url(https://fonts.googleapis.com/css?family=Concert+One);

@import url(https://fonts.googleapis.com/css?family=Macondo);
@import url(https://fonts.googleapis.com/css?family=Montez);
@import url(https://fonts.googleapis.com/css?family=Mrs+Sheppards);

@import url(https://fonts.googleapis.com/css?family=Pragati+Narrow);
@import url(https://fonts.googleapis.com/css?family=Risque);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display);
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=VT323);


@import url(https://fonts.googleapis.com/css?family=Alegreya);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

@import url(https://fonts.googleapis.com/css?family=Rubik);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);

@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond);
@import url(https://fonts.googleapis.com/css?family=Proza+Libre);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Trirong);
@import url(https://fonts.googleapis.com/css?family=Rubik);
@import url(https://fonts.googleapis.com/css?family=Work+Sans);
@import url(https://fonts.googleapis.com/css?family=Taviraj);
@import url(https://fonts.googleapis.com/css?family=Eczar);
@import url(https://fonts.googleapis.com/css?family=Gentium+Basic);

@import url(https://fonts.googleapis.com/css?family=Scope+One);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Arvo);
@import url(https://fonts.googleapis.com/css?family=Sanchez);
@import url(https://fonts.googleapis.com/css?family=Copse);
@import url(https://fonts.googleapis.com/css?family=Cutive);
@import url(https://fonts.googleapis.com/css?family=Trocchi);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Vesper+Libre);


@import url(https://fonts.googleapis.com/css?family=Bungee);
@import url(https://fonts.googleapis.com/css?family=Creepster);
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);

@import url(https://fonts.googleapis.com/css?family=Bungee+Shade);
@import url(https://fonts.googleapis.com/css?family=Creepster);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Gravitas+One);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);


@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
.hindex {
  font-family: 'VT323';
  background-color: black;
  color: white;
  text-align: center;
}
.hneg1 {
  font-family: 'Share Tech Mono';
  background-color: pink;
  color: white;
  text-align: center;
}
.h0 {
  font-family: 'Roboto Mono';
  background-color: grey;
  color: pink;
  text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Bungee);
@import url(https://fonts.googleapis.com/css?family=Creepster);
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);
.h13 {
  font-family: 'Bungee';
  text-align: center;
}
.h14 {
  font-family: 'Creepster';
  background-color: teal;
  color: #cddc39;
  text-align: center;
}
.h15 {
  font-family: 'Black Ops One';
  text-align: center;
  background-color: white;
  color: black;

}
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
.h1 {
  font-family: 'Permanent Marker';
}
.h2 {
  font-family: 'Poiret One';
}
.h3 {
  font-family: 'Dancing Script';
}
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Dokdo);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
.h4 {
  font-family: 'Comfortaa';
}
.h5 {
  font-family: 'Dokdo';
}
.h6 {
  font-family: 'Gloria Hallelujah';
}
@import url(https://fonts.googleapis.com/css?family=Cute+Font);
@import url(https://fonts.googleapis.com/css?family=Quantico);
@import url(https://fonts.googleapis.com/css?family=Poor+Story);
.h7 {
  font-family: 'Cute Font';
  color: white;
  text-align: center;
}
.h8 {
  font-family: 'Quantico';
  color: black;
  text-align: center;
}
.h9 {
  font-family: 'Poor Story';
  color: grey;
  text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Glass+Antiqua);
.h10 {
  font-family: 'Homemade Apple';
  color: pink;
  text-align: center;
}
.h11 {
  font-family: 'Indie Flower';
  color: teal;
  text-align: center;
}
.h12 {
  font-family: 'Glass Antiqua';
  color: #795548;
  text-align: center;
  background-color: white;
}

p {
  font-family: 'Roboto';
  font-size: 1em;
}

.tsugu-font {
  font-family: 'Indie Flower';
}

.zoo-font {
  font-family: 'Calligraffitti';
}

.andy-font {
  font-family: 'Special Elite';
}


.bliss-font {
  font-family: 'Bilbo';
}

.symptomatic-diabetic-font {
  font-family: 'Permanent Marker';
}

.discovered-diabetic-font {
  font-family: 'Mrs Sheppards';
}

.treated-diabetic-font {
  font-family: 'Bellefair';
}

.genki-diabetic-font {
  font-family: 'Calligraffitti';
}

.rip-font {
  font-family: 'Abel';
}

.daegorys-world-2-font {
  font-family: 'Permanent Marker';
}


.y {
  background-color: yellow;
}

.o {
  background-color: orange;
}

.r {
  background-color: red;
}

.p {
  background-color: purple;
}

.b {
  background-color: blue;
}

.g {
  background-color: green;
}

.w {
  background-color: white;
}

.l {
  background-color: black;
}

.e {
  background-color: grey;
}

.i {
  background-color: pink;
}

.c {
  background-color: cyan;
}

.n {
  background-color: brown;
}



.y-t {
  color: yellow;
}

.o-t {
  color: orange;
}

.r-t {
  color: red;
}

.p-t {
  color: purple;
}

.b-t {
  color: blue;
}

.g-t {
  color: green;
}

.w-t {
  color: white;
}

.l-t {
  color: black;
}

.e-t {
  color: grey;
}

.i-t {
  color: pink;
}

.c-t {
  color: cyan;
}

.n-t {
  color: #795548;
}

.boxed {
  width: 900px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.aceboxed {
  width: 100px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.monoboxed {
  width: 600px;
  height: 400px;
  overflow: scroll;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.tsugboxed {
}



body {
  background-color: grey;
}
